<div id="to-do-form-container">
    <h1 id="to-do-form-title">Edit Purchase-form</h1>

    <% if (user) { %>

        <form action="/finances/editonetimeform/<%= onetimepayment._id %>" method="post">
            <label id="task-label" for="task">Name:</label>
            <input type="text" id="task" name="name" value="<%= onetimepayment.name %>" required>
            <br>
            <label id="due-label" for="due">Cost:</label>
            <input type="text" id="due" name="cost" value="<%= onetimepayment.cost %>" required>
            <br>
            <div id="to-do-form-submit-button-container">
                <button id="to-do-form-submit-button" type="submit">Update</button>
            </div>
        </form>

    <% } else { %>

        <h1 id="not-signed-in">To use LifeSync Features, you need to sign in!</h1>

    <% } %>
</div>