<div id="to-do-form-container">
    
    <h1 id="to-do-form-title">To-do Form</h1>

    <% if (user) { %>

        <form action="/nutrition/edit/<%= nutritionId %>" method="post">
            <label id="task-label" for="task">Name:</label>
            <input type="text" id="task" name="name" required>
            <br>
            <label id="due-label" for="due">Serving Size:</label>
            <input type="text" id="due" name="servingsize" required>
            <br>
            <label id="task-label" for="task">Calories:</label>
            <input type="text" id="task" name="calories" required>
            <br>
            <label id="task-label" for="task">Sodium:</label>
            <input type="text" id="task" name="sodium" required>
            <br>
            <label id="task-label" for="task">Sugar:</label>
            <input type="text" id="task" name="sugar" required>
            <br>
            <div id="to-do-form-submit-button-container">
                <button id="to-do-form-submit-button" type="submit">Submit</button>
            </div>
    
        </form> 
    
    <% } else { %>
    
        <h1 id="not-signed-in">To use LifeSync Features you need to sign in!</h1>
    
    <% } %>
    
    
</div>
    