<div id="to-do-form-container">
    
    <h1 id="to-do-form-title">Videogame Form</h1>

    <% if (user) { %>

        <form action="/videogame-form" method="post">
            <label id="task-label" for="task">Name:</label>
            <input type="text" id="title" name="title" required>
            <br>
            <label id="due-label" for="due">img:</label>
            <input type="text" id="img" name="img" required>
            <br>
            <div id="to-do-form-submit-button-container">
                <button id="to-do-form-submit-button" type="submit">Submit</button>
            </div>
    
        </form> 
    
    <% } else { %>
    
        <h1 id="not-signed-in">To use LifeSync Features you need to sign in!</h1>
    
    <% } %>
    
    
</div>
    
