<div id="gamebox">
    <form action="/videogame-form" method="get">
        <div class='addtask'>
            <div class="task-containers">
                <button id="add-task-button" type="submit">Add Task</button>
            </div>
        </div>
    </form>
</div>