<div id="homepage-flex-container">

    <div id="homepage-grid-container">

        <a href="/todos/todo-scheduler">
            <div id="fire" class="thefour">
                <br>
                <h1 class="route-titles">To-do Scheduler</h1>
                <div class="routes-pic-container">
                    <img class="route-pics" src="/imgs/to-do-list-homepage-pic.png" alt="Picture of To-do Scheduler Page">
                </div>
            </div>
        </a>

        <a href="/videogames-movies/videogames-movies-list">
            <div id="wind" class="thefour">
                <br>
                <h1 class="route-titles">Videogames-Movies List </h1>
                <div class="routes-pic-container">
                    <img class="route-pics" src="/imgs/game-movie-homepage-pic.png" alt="Picture of Videogames & Movies List Page">
                </div>
            </div>
        </a>

        <a href="/finance-manager">
            <div id="lightning" class="thefour">
                <br>
                <h1 class="route-titles">Finance Manager</h1>
                <div class="routes-pic-container">
                    <img class="route-pics" src="" alt="Picture of Finance Manager Page">
                </div>

            </div>
        </a>

        <a href="/nutrition-manager">
            <div id="ice" class="thefour">
                <br>
                <h1 class="route-titles">Nutrition Manager</h1>
                <div class="routes-pic-container">
                    <img class="route-pics" src="" alt="Picture of Nutrition Manager Page">
                </div>
            </div>
        </a>

    </div>

</div>

