<div id="homepage-flex-container">

    <div id="homepage-grid-container">

        <a href="/todo-scheduler"><div id="fire" class="thefour"></div></a>

        <a href="/videogames-movie-scheduler"><div id="wind" class="thefour"></div></a>

        <a href="/finance-manager"><div id="lightning" class="thefour"></div></a>

        <a href="/nutrition-manager"><div id="ice" class="thefour"></div></a>

    </div>

</div>

