<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/styles.css' type='text/css'>
    <link rel="icon" href="/imgs/lieth_dallal_logo (1).svg">
    <title>LifeSync</title>
</head>
<body>
    <%- include(`../partials/header.ejs`) %>
    <%- body %>
    <%- include(`../partials/footer.ejs`) %>
</body>
</html>