<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/styles.css' type='text/css'>
    <link rel="icon" href="/imgs/lieth_dallal_logo (1).svg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Salsa&family=Tektur:wght@400..900&display=swap" rel="stylesheet">


    <title>LifeSync</title>
</head>
<body>
    <%- include(`../partials/header.ejs`) %>
    <%- body %>
    <%- include(`../partials/footer.ejs`) %>
</body>
</html>