<div id="to-do-form-container">
    
    <h1 id="to-do-form-title">Movie Form</h1>

    <% if (user) { %>

        <form action="/movie-form" method="post">
            <label id="task-label" for="title">Movie Title:</label>
            <input type="text" id="task" name="title" required>
            <br>
            <label id="due-label" for="img">Image Url:</label>
            <input type="text" id="due" name="img" required>
            <br>
            <div id="to-do-form-submit-button-container">
                <button id="to-do-form-submit-button" type="submit">Submit</button>
            </div>
    
        </form> 
    
    <% } else { %>
    
        <h1 id="not-signed-in">To use LifeSync Features you need to sign in!</h1>
    
    <% } %>
    
    
</div>