<div id="to-do-flexbox">

    <div id="to-do-container">
        <div id="task-due-container">

            <div class="task-containers">
                <h1 id="add-delete">Add/Delete</h1>
            </div>
            
            <div class="task-containers">
                <h1 id="tasks-title">Tasks</h1>
            </div>

            <div class="task-containers">
                <h1 id="due-title">Due</h1>
            </div>
            
        </div>
        <hr id="todoline">

        <% if (user) { %>
            <% todos.forEach(todo => { %>
                <% if (todo.addedBy.toString() === currentUser.toString()) { %>
                    <div class="task-div">
                        <form action="/profile/remove/<%= todo._id %>?_method=PUT" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <div class="task-containers">
                                <button class="delete-button" type="submit">Delete</button>
                            </div>
                        </form>
                        <div class="task-containers">
                            <h2 class="task"><%= todo.task %></h2>
                        </div>
                        <div class="task-containers">
                            <h2 class="due"><%= todo.due %></h2>
                        </div>
                    </div>
                <% } %>
            <% }); %>
            <form action="/todo-form" method="get">
                <div class='addtask'>
                    <div class="task-containers">
                        <button id="add-task-button" type="submit">Add Task</button>
                    </div>
                    <div class="task-containers">
                        <h1 class="task">-----------</h1>
                    </div>
                    <div class="task-containers">
                        <h1 class="due">-------------</h1>
                    </div>
                </div>
            </form>
        <% } else { %>
            <h1 id="not-signed-in">To use LifeSync Features you need to sign in!</h1>
        <% } %>


    </div>

</div>
