<div id="to-do-flexbox">

    <div id="to-do-container">
        
        <% if (user) { %> 
                <% user.lists.toDo.forEach(item => { %>


        <% }); %>

        <% } else { %>

        <% } %>

    </div>

</div>
