<div id="to-do-flexbox">

    <table>
        <thead>
            <tr>
                <th>
                <form action="/todos/todo-form" method="get">
                <button id="add-task-button" type="submit">Add Task</button>
                </form></th>
                <th>Tasks</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <% if (user) { %>
            <% todos.forEach(todo => { %>
                <% if (todo.addedBy.toString() === currentUser._id.toString()) { %>
                    <tbody>
                        <tr>
                            <td>
                                <form action="/todos/remove/<%= todo._id %>" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="delete-button" type="submit">Delete</button>
                                </form> 
                            </td>
                            <td><%= todo.task %></td>
                            <td><%= todo.due %></td>
                        </tr>
                        <tr>
                            <td>Data 4</td>
                            <td>Data 5</td>
                            <td>Data 6</td>
                        </tr>
                    </tbody>
                <% } %>
            <% }); %>

        <% } else { %>
            <h1 id="not-signed-in">To use LifeSync Features you need to sign in!</h1>
        <% } %>

        <% if(user){ %>
        <% if(currentUser.lists.toDo.length ==  0){ %>

            



        <% } %>
            <% } %>


  
            
            
            
    </table>
</div>


