body{
    background-color: black;
    margin: 0px;
    padding: 0px;

}
a {
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: inherit;
  }
button {
    cursor: pointer;
    border: none;
}
#homepagebutton:hover{
    background-color: rgb(121, 211, 121);
    transition: background-color 0.3s;
}
#loginoutbutton:hover{
    background-color: rgb(121, 211, 121);
    transition: background-color 0.3s;
}
footer{
    background-color: #7C7777;
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
}
#not-signed-in{
    text-align: center;
    font-size: 70px;
    font-family: "Tektur", sans-serif;
    color: aliceblue;
}
/* HomePage Styling Starts here  */
#loginoutbutton{
    float: right;
    margin: 20px;
    height: 50px;
    width: 90px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-family: "Tektur", sans-serif;
    background-color: aquamarine;
}
#lifesync-title{
    margin:0px;
    padding: 15px;
    text-align: center;
    font-size: 50px;
    font-family: "Salsa", cursive;
    font-style: normal;
}
#logoutlogin{
    background-color: #dadada;
    height: 90px;
    border: none;

}
#homepagebutton{
    float: left;
    margin: 20px;
    height: 50px;
    width: 90px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    font-family: "Tektur", sans-serif;
    background-color: aquamarine;

}
#homepage-flex-container{
display: flex;
justify-content: center;
align-items: center;
margin-top: 60px;
margin-bottom: 60px;

}
#homepage-grid-container{
    display:grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 200px;
    grid-row-gap: 170px;
}
.thefour{
    background-color: aliceblue;
    height: 440px;
    width: 440px;
    border-radius: 95px;
    font-family: "Tektur", sans-serif;

}
.thefour:hover{
    transform: scale(1.05);
}
#fire{
    background-color: #BB3957;
}
#wind{
    background-color: #D6A149;
}
#lightning{
    background-color: #614689;
}
#ice{
    background-color: #4068A8;
}
.route-titles{
    text-align: center;
    margin: 13px;
}
.route-pics{
    width: 270px;
    height: 270px;
    border: 20px solid black;
    border-radius: 20px;
}
.routes-pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
/* HomePage Styling Ends here  */

/* To-do Styling starts here  */
#to-do-flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
#to-do-container{
    width: 95%;
    min-height: 1100px;
    background-color: #BB3957;
    margin-top: 30px;
}
#task-due-container{
    display: flex;
    justify-content: space-around;
}
#tasks-title{
    font-family: "Tektur", sans-serif;
    font-size: 50px;
    margin: 0px;

}
#due-title{
    font-family: "Tektur", sans-serif;
    font-size: 50px;
    margin: 0px;
}
#todoline{
    width: 95%;
    border: none;
    height: 20px;
    background-color: black;
    margin-top: 20px;
}
.task-div{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.task{
    font-family: "Tektur", sans-serif;
    font-size: 25px;
    margin: 0px;
    min-height: 60px;
    background-color: aliceblue;
    border-radius: 10px;
}
.due{
    font-family: "Tektur", sans-serif;
    font-size: 25px;
    margin: 0px;
    min-height: 60px;
    background-color: aliceblue;
    border-radius: 10px;


}
.delete-button{
    width: 170px;
    height: 50px;
    font-size: 30px;
    font-family: "Tektur", sans-serif;
    border-radius: 10px;
    background-color: rgb(207, 153, 153);

}
.delete-button:hover{
    background-color: crimson;
    transition: background-color 0.3s;
}
#add-task-button:hover{
    background-color:yellowgreen;
    transition: background-color 0.3s;
}
#add-delete{
    display: block;
    font-size: 30px;
    margin: 0px;
    font-family: "Tektur", sans-serif;
    margin-top: 10px;

}
#add-task-button{
    width: 170px;
    height: 50px;
    font-size:30px ;
    font-family: "Tektur", sans-serif;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(135, 194, 135);
}
.addtask{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.task-containers{
    min-height: 50px;
    width: 300px;
    margin: 0px;
    text-align: center;
}
#not-signed-in{
    text-align: center;
    font-size: 70px;
    font-family: "Tektur", sans-serif;
}
/* To-do Styling ends here  */

/* Forms styling starts here  */
#to-do-form-container{
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-top: 70px;
}
#task{
    margin: 20px;
    min-height: 70px;
    font-size:50px ;
    font-family: "Tektur", sans-serif;

}
#due{
    min-height: 70px;
    font-size:50px ;
    font-family: "Tektur", sans-serif;

}
#task-label{
    color: aqua;
    margin-right: 0px;
    font-size: 40px;
    font-family: "Tektur", sans-serif;

}
#due-label{
    color: aqua;
    font-size: 40px;
    font-family: "Tektur", sans-serif;

}
#to-do-form-submit-button{
    width: 170px;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    font-family: "Tektur", sans-serif;

}
#to-do-form-submit-button:hover{
    background-color:  rgb(121, 211, 121);
    transition: background-color 0.3s;

}
#to-do-form-submit-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 700px;
}
#to-do-form-title{
    text-align: center;
    margin-bottom: 20px;
    color: aqua;
    font-family: "Tektur", sans-serif;
}
/* Forms styling ends here  */

/* Videogame and Movie styling starts here  */
#gamemovie-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#gamemovie-container{
    width: 95%;
    min-height: 1100px;
    background-color: #D6A149;
    margin-top: 30px;
}
#center-box-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: orange;
}
#movies-container-flexbox{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movie-pic{
width: 200px;
height:280px;
background-color: #dadada;
margin-top: 10px;

}
.movie-title-container{
    width: 200px;
    min-height: 80px;
    text-align: center;
    border-radius: 10px;

}
.movie-title{
    margin: 0px;
    font-family: "Tektur", sans-serif;
}
.movie-delete-button{
    width: 200px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Tektur", sans-serif;
    background-color: rgb(201, 103, 103);
}
.movie-delete-button:hover{
    background-color: crimson;
    transition: background-color 0.3s;
}
#add-game-movie{
    width: 150px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "Tektur", sans-serif;
    margin-bottom: 20px;
    background-color: rgb(135, 194, 135);

}
#add-game-movie:hover{
    background-color: yellowgreen;
    transition: background-color 0.3s;
}
#gamemovietitles{
    margin: 10px;
}
/* Videogame and Movie styling ends here  */
/* Finance styling starts here  */
#finance-flex-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#finance-complete-container{
    min-width: 95%;
    min-height: 1100px;
    margin-top: 30px;
    background-color: #614689;
}
#conatiners-withincontainer-flexbox{
    display: flex;
    gap: 190px;
}
#sub-div{

}
#onetimediv{

}