body{
    background-color: black;
    margin: 0px;
    padding: 0px;

}
a {
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: inherit;
  }
button {
    cursor: pointer;
}
button:hover{
    background-color: #CF8378;
    transition: background-color 0.3s;
}
footer{
    background-color: #7C7777;
    position: absolute;
    height: 70px;
    width: 100%;
    margin-top: 110px;
}
#loginoutbutton{
    float: right;
    margin: 20px;
    height: 50px;
    width: 90px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-family: "Tektur", sans-serif;

}
#lifesync-title{
    margin:0px;
    padding: 15px;
    text-align: center;
    font-size: 50px;
    font-family: "Salsa", cursive;
    font-style: normal;
}
#logoutlogin{
    background-color: #dadada;
    height: 90px;
    border: none;

}
#homepagebutton{
    float: left;
    margin: 20px;
    height: 50px;
    width: 90px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    font-family: "Tektur", sans-serif;

}
#homepage-flex-container{
display: flex;
justify-content: center;
align-items: center;
margin-top: 110px;
}
#homepage-grid-container{
    display:grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 200px;
    grid-row-gap: 200px;
}
.thefour{
    background-color: aliceblue;
    height: 400px;
    width: 400px;
    border-radius: 120px;
    font-family: "Tektur", sans-serif;

}
.thefour:hover{
    transform: scale(1.05);
}
#fire{
    background-color: #BB3957;
}
#wind{
    background-color: #D6A149;
}
#lightning{
    background-color: #614689;
}
#ice{
    background-color: #4068A8;
}
.route-titles{
    text-align: center;
    margin: 13px;
}